<form action="/posts" method="POST" >
    <h2> Posts </h2>
     <label> for="name">Name</label>
     <input type="text" id="name" name="name"></input>

     <label> for="content">Content</label>
     <input type="text" id="content" name="content"></input>

     <input type="submit" value="submit">
</form>
